<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="Skuy Apps - Find your best resto">
        <meta name="author" content="Muhammad Theda Amanda">
        <meta name="theme-color" content="#E54750"/>
        <title>Skuy Apps</title>

        <link rel="apple-touch-icon" sizes="180x180" href="./images/favicon.ico" />
        <link rel="shortcut icon" href="./images/favicon.ico" type="image/x-icon">
        <link rel="manifest" href="./app.webmanifest">
    </head>
    <body>
        <skip-content></skip-content>

        <loader-component></loader-component>

        <!-- Header -->
        <header class="app-bar">
            <app-header></app-header>
        </header>

        <!-- Main Content -->
        <div id="mainContent" tabindex="0"></div>

        <!-- Footer -->
        <footer tabindex="0">
            <app-footer></app-footer>
        </footer>

        <div class="to-top"></div>
    </body>
</html>
