@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&display=swap');
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Poppins', Helvetica, sans-serif;
}

body,
html {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

a {
	color: #e54750;
	text-decoration: none;
	transition: all 0.3s ease-in-out;
	outline: none;
	&:focus {
		outline: 1px auto -webkit-focus-ring-color;
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: #222;
	font-weight: 500;
	transition: all 0.3s ease-in-out;
}

figure {
	margin: 0 0 1rem;
}

.container {
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

.layer {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	min-width: 100%;
	min-height: 100%;
	z-index: 999;
	background-color: rgba(0, 0, 0, 0.35);
	transition: all 0.1s ease;
	opacity: 0;
	visibility: hidden;
}

.layer-is-visible {
	opacity: 1;
	visibility: visible;
}

.app-bar {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 99999;
	border-bottom: 1px solid rgba(255, 255, 255, 0);
	.wrapper {
		width: 100%;
		padding-right: 15px;
		padding-left: 15px;
		margin-right: auto;
		margin-left: auto;
	}
}

header {
    &.header_in {
		background-color: #fff;
		position: relative;
		border-bottom: 1px solid #ededed;
        &.app-bar {
            .logo_normal {
                display: none;
            }
            .logo_sticky {
                display: inline-block;
            }
        }
        .main-menu {
            .logo_normal {
				display: none;
			}
			.logo_sticky {
				display: inline-block;
			}
			& > ul {
				& > li {
					& > a {
						color: #222;
					}
				}
			}
		}
	}
	&.sticky {
		transition: all 0.3s ease-in-out;
		border-bottom: 1px solid #ededed;
		background-color: #fff;
		.main-menu {
			& > ul {
				& > li {
					& > a {
						color: #222;
					}
				}
			}
		}
	}
	&.app-bar {
		.logo_sticky {
			display: none;
		}
		&.sticky {
			.logo_normal {
				display: none;
			}
			.logo_sticky {
				display: inline-block;
			}
		}
	}
}

.header_menu {
	display: none;
}

.menu-mobile {
	display: none;
}

.main-menu {
	width: 100%;
	display: flex;
	align-items: center;
	transition: all 0.3s ease-in-out;
	ul {
		li {
			a {
				display: inline-block;
				padding: 1.25rem 1.5rem;
				text-decoration: none;
				color: #fff;
				font-size: 0.875rem;
				&:hover {
					color: #e54750;
					opacity: 1;
				}
			}
		}
		&.nav-list {
			li {
				display: inline-block;
			}
		}
	}
}

.logo {
	width: 20%;
}

.nav-list {
	width: 80%;
	padding: 0;
	margin: 0;
	text-align: right;
}

.hero {
	width: 100%;
	position: relative;
	margin: 0;
	color: #fff;
	&.image {
		height: 620px;
		background: #faf3cc url(/src/public/images/hero-image.jpeg) center center;
		background-size: cover;
	}
	.opacity-mask {
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: left;
		background-color: rgba(0, 0, 0, 0.6);
		h1 {
			color: #fff;
			line-height: 1;
			font-size: 42px;
			font-size: 2.625rem;
			margin: 0;
			font-weight: 500;
		}
		p {
			font-size: 28px;
			font-size: 1.75rem;
			font-weight: 300;
			display: block;
		}
	}
}

.opacity-mask {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 2;
}

.hero-title {
	position: relative;
	width: 90%;
	padding-right: 15px;
	padding-left: 15px;
}

.row-center {
	display: flex;
	flex-wrap: wrap;
	justify-content: center !important;
	text-align: center !important;
	margin-right: -15px;
	margin-left: -15px;
}

.row-search {
	display: -ms-flexbox;
	display: flex;
	flex-wrap: wrap;
	margin-right: -15px;
	margin-left: -15px;
}

.no-gutters {
	margin-right: 0;
	margin-left: 0;
}

.form-input {
	display: block;
	width: 100%;
	line-height: 1.5;
	color: #495057;
	background-color: #fff;
	background-clip: padding-box;
	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
	&:focus-visible {
		outline: 0;
		outline-offset: 0;
		box-shadow: none;
	}
}

.custom-search-input {
	background-color: #fff;
	padding: 5px 5px 5px 0;
	border-radius: 5px;
	margin-top: 10px;
	box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.2);
	input {
		border: 0;
		height: 50px;
		padding: 12px 10px 10px 20px;
		font-weight: 500;
		border-radius: 0;
		font-size: 15px;
		font-size: 0.9375rem;
		&.no_border_r {
			border: none;
		}
		&:focus {
			box-shadow: none;
		}
	}
	select {
		display: none;
	}
	.forms {
		margin: 0;
	}
	i {
		border-radius: 3px;
		font-size: 18px;
		font-size: 1.125rem;
		position: absolute;
		background-color: #fff;
		line-height: 50px;
		top: 0;
		right: 1px;
		padding-right: 15px;
		display: block;
		width: 20px;
		box-sizing: content-box;
		height: 48px;
		z-index: 9;
		color: #999;
	}
	button[type='submit'] {
		padding: 0 25px;
		height: 50px;
		width: 100%;
		margin-right: -1px;
		border-radius: 3px;
		font-weight: 600;
	}
}

.col-input {
	position: relative;
	width: 100%;
}

.col-search {
	position: relative;
	width: 100%;
}

.btn {
	border: none;
	background-color: #e54750;
	outline: none;
	cursor: pointer;
	display: inline-block;
	text-decoration: none;
	padding: 8px 25px;
	color: #fff;
	font-weight: 500;
	text-align: center;
	font-size: 14px;
	font-size: 0.875rem;
	border-radius: 3px;
	line-height: normal;
	&.gradient {
		background-size: 100%;
		background-image: -webkit-linear-gradient(right, #f3723b, #e54750);
		background-image: linear-gradient(to right, #f3723b, #e54750);
		position: relative;
		z-index: 1;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		&:before {
			border-radius: inherit;
			background-image: linear-gradient(to right, #e54750, #e54750);
			content: '';
			display: block;
			height: 100%;
			width: 100%;
			position: absolute;
			top: 0;
			left: 0;
			opacity: 0;
			z-index: -1;
			transition: opacity 0.45s ease-in-out;
		}
	}
}

.margin_30_60 {
	padding-top: 30px;
	padding-bottom: 60px;
}

.center {
	text-align: center;
}

.main_title {
	margin-bottom: 25px;
	position: relative;
	a {
		position: absolute;
		right: 0;
		bottom: 0;
		font-weight: 500;
	}
	&.center {
		span {
			margin: auto;
			em {
				margin: auto;
			}
		}
	}
	span {
		width: 120px;
		height: 2px;
		background-color: #e1e1e1;
		display: block;
		em {
			width: 60px;
			height: 2px;
			background-color: #e54750;
			display: block;
		}
	}
	h2 {
		color: #222;
		font-weight: 500;
		max-width: inherit;
		transition: all 0.3s ease-in-out;
		margin: 20px 0 0 0;
		font-size: 2.125rem;
	}
	p {
		font-size: 21px;
		font-size: 1.125rem;
		font-weight: 300;
		max-width: inherit;
		margin-bottom: 20px;
	}
}

.bg_gray {
	background-color: #f9fafb;
	.main_title {
		h2 {
			color: #222;
			font-weight: 500;
			transition: all 0.3s ease-in-out;
			margin: 20px 0 0 0;
			font-size: 1.625rem;
			max-width: 600px;
		}
	}
}

.list {
	margin: 32px auto auto;
	text-align: left;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 30px;
	grid-row-gap: 30px;
}

.strip {
	position: relative;
	figure {
		margin-bottom: 5px;
		overflow: hidden;
		position: relative;
		height: 190px;
		border-radius: 5px;
		background-color: #ededed;
		img {
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%) scale(1);
			backface-visibility: hidden;
			width: 100%;
			z-index: 1;
			transition: all 0.3s ease-in-out;
		}
		a {
			&.strip_info {
				position: absolute;
				left: 0;
				bottom: 0;
				right: 0;
				height: 100%;
				width: 100%;
				z-index: 5;
				display: block;
				& > small {
					position: absolute;
					background-color: white;
					background-color: white;
					left: 15px;
					top: 15px;
					color: #333;
					font-weight: 500;
					border-radius: 3px;
					padding: 6px 8px 4px 8px;
					line-height: 1;
					font-size: 12px;
					font-size: 0.75rem;
				}
			}
		}
		.item_title {
			width: 100%;
			position: absolute;
			bottom: 0;
			left: 0;
			padding: 65px 15px 10px 15px;
			background: linear-gradient(to bottom, transparent 5%, black 100%);
			filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#000000', GradientType=0);
			h3 {
				font-size: 16px;
				font-size: 1rem;
				margin: 0;
				font-weight: 500;
				color: #fff;
				margin: 0;
				padding: 0;
				line-height: 1;
			}
			small {
				font-weight: 500;
				line-height: 1;
				font-size: 13px;
				font-size: 0.8125rem;
				color: rgba(255, 255, 255, 0.8);
			}
		}
	}
	ul {
		padding: 0;
		margin: 0;
		li {
			display: inline-block;
			padding-top: 12px;
			font-size: 13px;
			font-size: 0.8125rem;
			&:last-child {
				padding-top: 12px;
				font-size: 13px;
				float: right;
			}
		}
	}
}

.img-fluid {
	max-width: 100%;
	height: auto;
}

.city {
	font-size: 0.8125rem;
	position: relative;
	padding-left: 20px;
	margin-right: 10px;
	font-weight: 500;
	color: #444;
	&:before {
		font-size: 16px;
		font-size: 1rem;
		content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18px' height='18px' fill='none' viewBox='0 0 24 24' stroke-width='1.5' stroke='currentColor' class='w-6 h-6'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M15 10.5a3 3 0 11-6 0 3 3 0 016 0z' /%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1115 0z' /%3E%3C/svg%3E%0A");
		position: absolute;
		line-height: 1;
		left: 0;
		top: -1px;
		font-weight: normal;
	}
}

.rating {
	font-size: 0.8125rem;
	position: relative;
	padding-left: 20px;
	font-weight: 500;
	color: #444;
	&:before {
		font-size: 16px;
		font-size: 1rem;
		content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18px' height='18px' viewBox='0 0 24 24' class='w-6 h-6'%3E%3Cpath fill-rule='evenodd' d='M10.788 3.21c.448-1.077 1.976-1.077 2.424 0l2.082 5.007 5.404.433c1.164.093 1.636 1.545.749 2.305l-4.117 3.527 1.257 5.273c.271 1.136-.964 2.033-1.96 1.425L12 18.354 7.373 21.18c-.996.608-2.231-.29-1.96-1.425l1.257-5.273-4.117-3.527c-.887-.76-.415-2.212.749-2.305l5.404-.433 2.082-5.006z' clip-rule='evenodd' /%3E%3C/svg%3E%0A");
		filter: invert(100%) sepia(48%) saturate(2635%) hue-rotate(51deg)
        brightness(82%) contrast(85%);
		position: absolute;
		line-height: 1;
		left: 0;
		top: -1px;
		font-weight: normal;
	}
}

.margin_60_40 {
	padding-top: 60px;
	padding-bottom: 40px;
}

.add_bottom_25 {
	padding-bottom: 25px;
}

.row-rated {
	display: flex;
	flex-wrap: wrap;
	margin-right: -15px;
	margin-left: -15px;
}

.col-6 {
	position: relative;
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
}

.list_top_rated {
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		li {
			display: inline-block;
			position: relative;
			width: 100%;
			a {
				background-color: #fff;
				box-shadow: 0px 22px 24px 0px rgb(46 51 51 / 5%);
				border-radius: 5px;
				padding: 15px 15px 15px 225px;
				color: #444;
				margin-bottom: 30px;
				min-height: 130px;
				display: block;
				line-height: 20px;
				&:hover {
					box-shadow: 0px 22px 24px 0px rgba(46, 51, 51, 0.1);
					img {
						transform: translate(-50%, -50%) scale(1);
					}
					h3 {
						color: #e54750;
						transition: all 0.3s ease-in-out;
					}
				}
				figure {
					border-radius: 5px 0 0 5px;
					width: 200px;
					height: 130px;
					overflow: hidden;
					position: absolute;
					left: 0;
					top: 0;
					img {
						width: 200px;
						height: auto;
						position: absolute;
						left: 50%;
						top: 50%;
						transform: translate(-50%, -50%) scale(1.1);
						transition: all 0.3s ease-in-out;
						backface-visibility: hidden;
					}
				}
				.rating {
					position: absolute;
					top: 22px;
					right: 20px;
				}
				em {
					font-size: 12px;
					font-size: 0.75rem;
				}
				h3 {
					font-size: 18px;
					font-size: 1.125rem;
					margin-bottom: 0;
				}
				small {
					margin-top: 5px;
					font-size: 0.75rem;
					color: #777;
					overflow: hidden;
					display: -webkit-box;
					-webkit-line-clamp: 2;
					-webkit-box-orient: vertical;
				}
			}
		}
	}
}

footer {
	background-color: #f6f1d3;
	color: #333;
	font-size: 14px;
	padding: 2em;
	width: 100%;
	text-align: center;
}

.skip-link {
	position: absolute;
	top: -100px;
	left: 0;
	background-color: #bf1722;
	color: white;
	padding: 10px;
	font-size: 20px;
	z-index: 100;
	text-decoration: none;
	&:focus {
		top: 100px;
	}
}

.to-top {
	position: fixed;
	right: 0;
	opacity: 0;
	visibility: hidden;
	bottom: 20px;
	margin: 0 20px 0 0;
	z-index: 999;
	transition: 0.35s;
	transform: scale(0.7);
	width: 44px;
	height: 44px;
	background-color: rgba(0, 0, 0, 0.6);
	opacity: 1;
	transition: all 0.3s;
	border-radius: 50%;
	text-align: center;
	font-size: 36px;
	font-size: 2.25rem;
	color: #fff;
	cursor: pointer;
	&.visible {
		opacity: 1;
		visibility: visible;
		transform: scale(1);
	}
	&:after {
		content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24px' height='24px' fill='white' viewBox='0 0 512 512'%3E%3Cpath d='M233.4 105.4c12.5-12.5 32.8-12.5 45.3 0l192 192c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L256 173.3 86.6 342.6c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3l192-192z'/%3E%3C/svg%3E");
		position: relative;
		display: block;
		top: 50%;
		transform: translateY(-50%);
	}
}
